

body{
    background-image: url('./img/cover1.jpg');
    background-size: auto;
    background-repeat: no-repeat ;
    width: 100%;
    word-wrap: break-word;
}



body img{
    margin-left: 30px;
    margin-top: 20px;
}
body h1{
    font-size: 60px ;
    font-weight: bold; 
    color: #2b2f3e;
 
}
body h4{
    font-size: 20px;
    color: #737c85;
    font: "Poppins", "Century Gothic", "Trebuchet MS", Helvetica, sans-serif;    
}
.ds-button-left {
    font-size: large;
    font-weight: bold;
    height: 60px;
    width: 200px;
    line-height: 47px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
   }
.ds-button-right {
    height: 60px;
    text-align: center;
    display: inline-block;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 25px;
    padding: 0 25px;
}
.btn-outline-light{
   
    line-height: 47px;
    margin-left: 800px;
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    width: 200px;
}
h2 {
    font-weight: 700;
    font-size: 34px;
    text-align: center;
}


@media only screen and(min-width: 400px)
